extends ../../layouts/default.pug

block main 
  h1 Thêm mới danh mục sản phẩm 

  form(
    action="/admin/product-category/create"
    method="POST"
    enctype="multipart/form-data" 
	  )
    
    div(class="form-group")
      label(for="title") Tiêu đề
      input(
        type="text"
        class="form-control"
        id="title"
        name="title"
		  )
    div(class="form-group")
      label(for="parent") Danh mục cha
      input(
        type="text"
        class="form-control"
        id="parent"
        name="parent"
		  )
    div(class="form-group")
      label(for="desc") Mô tả
      textarea(
        class="form-control"
        id="desc"
        name="description"
        rows="4"
		  )
    div(class="form-group")
      label(for="thumbnail") Ảnh 
      input(
        type="file"
        class="form-control"
        id="thumbnail"
        name="thumbnail"
		)
    div(class="form-group")
      label(for="posittion") Vị trí
      input(
        type="number"
        class="form-control"
        id="position"
        name="position"
        placeholder="Tự động tăng"
        min="1"
		  )
    div(class="form-group form-check form-check-inline")
      input(
        class="form-check-input"
        type="radio"
        name="status"
        id="statusActive"
        value="active"
        checked 
			)
      label(for="statusActive" class="form-check-label") hoạt động
    div(class="form-group form-check form-check-inline")
      input(
        class="form-check-input"
        type="radio"
        name="status"
        id="statusInActive"
        value="inactive"
        checked
		  )
      label(for="statusActive" class="form-check-label") Dừng hoạt động
    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
        ) Tạo mới